body{
  background-color: blueviolet;
  color: white;
  font-size: 30px;
  font-weight: bold;
}

.game-info{
  text-align: center;
}

.area{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 50px auto;
  width: 150px;
  height: 150px;
}