body{
  background-color: blueviolet;
}
.App{
  color: white;
  text-align: center;
  font-size: 30px;
}


.container{
  margin: 40px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 320px;
  height: 310px;
  flex-wrap: wrap;
}
.box1{
 background-color: chartreuse;
 width: 100px;
 height: 100px;
 border: 1px solid white;
}